---
layout: layout.liquid
title: 11ty Boilerplate
---

<header>
    <h1>Hacker News</h1>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Score</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
        <tr>
          <td>1.</td>
          <td><a href="#">Example Title</a></td>
          <td>100</td>
          <td>50</td>
        </tr>
      </tbody>
    </table>
 