---
layout: layout.liquid
title: 11ty Boilerplate
---

<main>
    <table>
        <tbody>
               <tr>
            <td>
              <div class="header">
               <h1>Hacker News</h1>
              </div>
                 </td>
            </tr>
            <tr>
            <td>
                <div class="content">
                    <p class="index">1. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">2. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">3. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">4. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">5. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">6. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">7. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">8. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">9. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">10. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">11. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">12. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">13. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">14. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">15. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">16. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">17. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">18. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">19. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
          <tr>
            <td>
                <div class="content">
                    <p class="index">20. </p>
                    <h2>Example Title</h2>
                </div>
                <div class="info">
                    <p>Score: 100</p>
                    <p>hide</p>
                    <p>Comments: 50</p>
                </div>
                 </td>
            </tr>
        </tbody>
    </table>