---
layout: layout.liquid
title: 11ty Boilerplate
---

<header>
    <h1>Hacker News</h1>
  </header>
  <main>
    <table>
      <tbody>
        <td>1.</td>
        <td><a href="#">Example Title</a></td>
        <td>
          <p>Score: 100</p>
          <p> hide <p>
          <p>Comments: 50</p>
        </td>
      </tr>
      </tr>
      </tbody>
    </table>
 