body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px; /* Adjust font size as needed */
  }
  
  header {
    background-color: #ff6600;
    color: #000; /* Black text color */
    padding: 10px;
  }
  
  h1 {
    margin: 0;
    font-size: 20px; /* Smaller font size */
  }
  
  main {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: rgb(242, 242, 242)
  }
  
  
  tbody td {
    color: #666; 
    font-size: 12px; 
  }
  